.viewer {
  overflow: auto;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 0;

  user-select: initial;
  -webkit-user-select: initial;

  pre {
    margin: 0;
    padding: 0;
  }
}
