:root {
  font-family: system-ui, Ubuntu, Droid Sans, sans-serif;
  font-size: 12px;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* zoom: 1.2; */
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;

  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

.container {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
